@import "./mixins";
@import "./variables";

/* Section for "We Provide" */
.weProvide {
  margin-top: 150px;

  @media (max-width: 768px) {
    margin-top: 60px;
  }

  /* Container for content inside the section */
  .contentContainer {
    display: flex;
    align-items: center;
    gap: 120px;

    @media (max-width: 1024px) {
      flex-direction: column-reverse; /* Reorder for smaller screens */
      align-items: center;
    }
  }

  /* Text content within the section */
  .textContent {
    flex: 1;

    /* Heading for the section */
    h2 {
      font-size: 2rem;
      margin-bottom: 20px;
    }

    /* Features list with icons and descriptions */
    .featuresList {
      list-style: none;
      padding: 0;

      li {
        display: flex;
        align-items: center;
        margin-bottom: 32px;
        font-size: 1.2rem;

        /* Paragraph within the list items */
        p {
          margin-top: 24px;
        }

        /* Check icon for features */
        .checkIcon {
          color: green;
          font-size: 1.2rem;
          margin-right: 24px;
          border-radius: 50%;
        }

        /* Additional styling for the third feature */
        .third {
          color: blue;
          font-size: 1.2rem;
          margin-right: 24px;
          border-radius: 50%;
        }

        /* Description for each feature */
        .description {
          font-size: 1rem;
          color: $text-color;
          margin-top: 5px;
        }
      }
    }

    /* Button to learn more */
    .learnMoreBtn {
      margin-top: 20px;
      padding: 10px 20px;
      border: 1px solid #000;
      border-radius: 30px;
      cursor: pointer;
      color: #000000;
      transition: background-color 0.3s;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }

  /* Image content within the section */
  .imageContent {
    flex: 1;
    text-align: center;
    width: 621px;
    height: 600px;
    padding: 10px;
    position: relative;

    /* Responsive image styling */
    .responsiveImage {
      max-width: 100%;
      border-radius: 10px;
    }

    /* Circular icon element */
    .circleIcon {
      position: absolute;
      top: 150px;
      left: -28px;
      width: 74px;
      height: 74px;
      background-color: #287279;
      border: 4px solid #fff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

      @media (max-width: 768px) {
        top: 100px;
        left: -20px;
      }
    }

    /* Icon inside the circle */
    .icon {
      color: #fff;
      font-size: 40px;
    }

    @media (max-width: 768px) {
      order: 1;
      height: 400px;
    }
  }
}
